.tasks {
    margin: -13px;
    padding: 13px;
    display: grid;
    grid-template-columns: 400px 1fr 1.5fr;
}

.tasks__header {
    padding: 20px;
    margin: 10px -12px 2px;
    font-size: 20px;
    background: white;
    border-bottom: 2px solid #f1eff3;
}

.tasks__element {
    background-color: white;
    margin: 2px 3px 2px;
    padding: 10px;
    padding-top: 10px;
    grid-column: span 3;
}

.tasks__content {
    list-style: none;
    background-color: white;
    border-bottom: 2px solid #f1eff3;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.tasks__name {
    flex-grow: 1;
   line-height: 30px;
    padding-left: 7px;
    word-break: break-word;
}

.tasks__name--done {
    flex-grow: 1;
    line-height: 30px;
    text-decoration: line-through;
    font-size: 15px;
    padding-left: 7px;
    word-break: break-word;
}

.tasks__button {
    background-color: rgb(16, 84, 48);
    width: 30px;
    height: 30px;
    color: #ffffff;
    border: none;
}
.tasks__button:hover{
    background-color: rgb(56, 150, 100);
}
.tasks__button:active{
    background-color: rgb(44, 233, 132);
    border: 1px solid black;
}

.tasks__remove {
    background-color: rgb(209 6 6);
    width: 30px;
    height: 30px;
    color: #ffffff;
    border: none;
}
.tasks__remove:hover{
    background-color: rgb(225 77 77);
}
.tasks__remove:active{
    background-color: rgb(238 107 107);
    border: 1px solid black;
}
