.tasks{
    background-color: white;
    margin: 3px;
    padding: 13px;
}
.tasks_header{
    background-color: white;
    margin: -6px;
    padding: 14px;
    border-bottom: 2px solid rgb(78, 75, 75);
}
.tasks_element{
    background-color: white;
    margin: 0px 0px 2px;
    padding: 10px;
    padding-top: 10px;
}
.tasks_content{
    list-style: none;
    background-color: white;
    border-bottom: 2px solid rgb(78, 75, 75);
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.tasks_name{
    flex-grow: 1;
}
.tasks_buttonDone{
    background-color: green;
}
.tasks_remove{
    background-color: rgb(249 6 6);
    width: 30px;
}
.tasks_done{
    background-color: rgb(16, 84, 48);
    width: 30px;
}